@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.description-game {
    height: calc(100vh - 10vh);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-slider {
    display: none;
}

.slide-container {
    max-width: 80vh;
    max-height: 80vh;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease;
}

.prev { 
    left: 15px; 
}
.next { 
    right: 15px; 
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.slide-dot {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1vh;
    width: 1vh;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: orange;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

.right-findtheExit {
    width: 50%;
}

.right-findtheExit h3 {
    font-size: 1rem;
}

.right-findtheExit p {
    color: #999;
    font-size: 0.8rem;
    margin-top: 2vh;
    margin-bottom: 3vh;
    line-height: 1.5em;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width:770px){
    .right-findtheExit {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}
