/*Cv et itch*/
.cv-itch-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2rem;
    max-width: 1200px;
    padding: 0 1rem;
  }
  
  .cv-itch-section .column {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cv-itch-section h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    color: orange;
  }
  
  .cv-itch-section iframe {
    width: 100%;
    height: 450px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .cv-itch-section img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid orange;
    transition: transform 0.3s ease;
  }
  
  .cv-itch-section img:hover {
    transform: scale(1.02);
  }

/* Style global du formulaire */
form {
    background: #111;
    padding: 5vh;
    border-radius: 10px;
    width: 50%; 
    max-width: 400px;
    min-width: 300px; 
    margin: auto;
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.5);
}

.form-padding {
    padding-top: 15vh;
    padding-bottom: 17.5vh; 
    padding-left: 3vh; 
    padding-right: 6vh;
}


form label {
    display: block;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
    gap : 10vh;
}


form input,
form textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    background: #222; 
    color: white;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

form textarea {
    height: 10vh;
}


form input:focus,
form textarea:focus {
    border-color: #ffa500; 
    outline: none;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}


form button {
    width: 100%;
    padding: 12px;
    background: #ff8c00; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}


form button:hover {
    background: #ffa500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}

@media screen and (max-width: 768px) {
    form {
        width: 90%; 
        padding: 4vh;
        min-width: unset;
        max-width: unset; 
    }

    .form-padding {
        padding-top: 15vh;
        padding-bottom: 12.9vh; 
        padding-left: 3vh; 
        padding-right: 6vh;
    }

    form label {
        font-size: 16px;
    }

    form input,
    form textarea {
        font-size: 16px;
        padding: 12px;
        width: 85%;
    }

    form button {
        font-size: 18px;
        padding: 14px;
    }
}
