@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.game-container {
    max-width: 100vh;
    margin: auto;
    padding: 2vh;
}
.game {
    background: white;
    display: flex;
    align-items: center;
    gap: 5vh;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.game.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.game img {
    width: 20vh;
    border-radius: 5px;
}
.content {
    max-width: 200vh;
    margin: 2vh;
}
.tag {
    display: inline-block;
    background: #ff5733;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
button {
    background: orange;
    border: 1px solid orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.game a{
    border: 1px solid orange;
    margin-top: 2vh;
    text-decoration: 0;
    color: orange;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 1vh 2vh;
    transition: 0.5s;
}

.game a:hover {
    background-color: orange;
    color: black;
    letter-spacing: 1px;
}
